<div class="container" style="margin-top: 50px;">

<h1>Weather Forcast</h1>
<p>Please enter the city location below.</p>

<form action="<%= url_for(action: 'index', controller: 'forcast') %>" method="post">
  <div class="form-group">
    <label for="city">Password</label>
    <input type="text" class="form-control" id="city" name="city" placeholder="Dublin">
  </div>
  <button type="submit" class="btn btn-default">Fetch</button>
</form>


</div>