<div class="weatherReport">


<div class="row" style="">
  <div class="col-md-5">
    <!--Left-->
    <div class="col-md-12">
      <div class="col-md-5 mainTemp">
        <%=    @defaultForcast[:avgTemprature] %>k
      </div>
      <div class="col-md-6" style="text-align: left;">
        <%=    @defaultForcast['weather'][0]['description'] %><br/>
        Pressure: <%=    @defaultForcast['pressure'] %><br/>
        Humidity: <%=    @defaultForcast['humidity'] %><br/>
        Wind: <%=    @defaultForcast['speed'] %><br/>
        <!--<%=    @body['city']['name'] %>-->
      </div>
    </div>
    <div class="col-md-12">
      <h1><%=    @body['city']['name'] %></h1>
      <p><%=    @defaultForcast[:date] %></p>
    </div>
  </div>


  <div class="col-md-7">
    <div class="col-md-3">
      <%=    @defaultForcast['temp']['morn'] %>k<br/>
      Morning
    </div>
    <div class="col-md-3">
      <%=    @defaultForcast['temp']['eve'] %>k<br/>
      Evening
    </div>
    <div class="col-md-3">
      <%=    @defaultForcast['temp']['night'] %>k<br/>
      Night
    </div>
  </div>
</div>

<hr/>
<div class="row">

  <% @pastForcast.each do |day| %>
      <a href="<%= forcastDetail_path(city: params[:city], date: day['dt'])  %>">
        <div class="col-md-1 greenbg weatherwidget" >
          <%=    day[:date]  %><br/>
          <img src="http://openweathermap.org/img/w/<%= day['weather'][0]['icon'] %>.png" width="100%"/>
          <%=    day[:avgTemprature] %>k
          <p>
            <%= day['weather'][0]['description'] %>
          </p>


        </div>
      </a>
  <% end %>

</div>
<hr/>
<div class="row">

  <% @futureForcast.each do |day| %>
      <a href="<%= forcastDetail_path(city: params[:city], date: day['dt'])  %>">
        <div class="col-md-1 greenbg weatherwidget" >
          <%=    day[:date]  %><br/>
          <img src="http://openweathermap.org/img/w/<%= day['weather'][0]['icon'] %>.png" width="100%"/>

          <%=    day[:avgTemprature] %>k
          <p>
            <%= day['weather'][0]['description'] %>
          </p>


        </div>
      </a>
  <% end %>

</div>

</div>