/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.weatherReport{
    margin-top: 30px;
    padding: 20px;
    color:white;
    background:rgb(25,69,129);
    text-align: center;
}
.greenbg {
    background: rgb(107, 123, 51);
}
.weatherwidget{
    margin: 10px;height: 200px;
    padding-top: 20px;
}
.mainTemp{
    font-size: 34px;
    padding-top: 20px;
}
/*.bidIcon{*/
    /*font-size: 24px;*/
/*}*/
[data-icon]:before {
    font-family: icons; /* BYO icon font, mapped smartly */
    content: attr(data-icon);
    speak: none; /* Not to be trusted, but hey. */
}