// Place all the styles related to the forcast controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.weatherReport {
  a {
    color: white;
  }
  a:hover {
    color: white;
    font-weight: bold;
  }
}